<head>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<div class="header">
	<h2 class="main-title">{{site.name}}</h2>
		<ul class="nav_menu">
			<li><a href="/">HOME</a></li>|
			<li><a href="/tags.html">SEARCH BY TAG</a></li>|
			<li><a target="_blank" href="https://sqor.com/contact">CONTACT</a></li>|
			<li><a target="_blank" href="https://sqor.com/jobs">JOBS</a></li>|
			<li><a target="_blank" href="https://sqor.com">SQOR SPORTS</a></li>
		</ul>
</div>
