* {
	margin: 0;
}
html, body {
	height: 100%;
	width: 100%;
}
.page-wrap {
	height: 100%;
	width: 100%;
	margin:0 0 -70px 0;
}
.header {
	background-color: #26a69a;
	height: 70px;
	border-bottom: 5px solid black;
}
.footer {
	background-color: #26a69a;
	height: 70px;
	border-top: 5px solid black;
}
.main-title {
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
}
.posts {
	margin: 0 auto;
	width: 384px;
	height: 100%;
	font-family: 'Lato', sans-serif;
}
.index_post {
	text-decoration: none;
}
.post_title, .site_author, .post_author, .pagination {
	text-align: center;
	font-family: 'Lato', sans-serif;

}
.disqus {
	margin: 0 auto;
	width: 500px;
}
@media (max-width: 500px) {
	.disqus {
		width: 384px;
	}
}
article {
	margin: 0 auto;
	width: 750px;
	float: left;
	font-family: 'Lato', sans-serif;
}
@media (max-width: 750px) {
	article {
		width: 500px;
	}
}
@media (max-width: 500px) {
	article {
		width: 384px;
	}
}
body {
	background-color: #EEEEEE;
}
p {
	color: black;
	font-family: 'Lato', sans-serif;
}
.post_container {
	display: inline-block;
	width: 100%;
	min-height: 300px;
	margin: 0 5px 0 5px;
}
.archive {
	margin-top: 20px;
	width: 384px;
	float: right;
	font-family: 'Lato', sans-serif;
}
.archive-header {
	text-align: center;
	text-decoration: underline;
}
@media (max-width: 1149px) {
	.archive {
		display: none;
	}
}
.tags_list {
	font-family: 'Lato', sans-serif;
}
.tags_title {
	text-transform: uppercase;
}
.time {
	text-align: center;
}