* {
	margin: 0;
}
html, body {
	height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
}
img {
	max-width: 750px;
}
a {
	text-decoration: none;
	/*color: #26a69a;*/
}
.page-wrap {
	height: 100%;
	width: 100%;
	margin:0 0 -70px 0;
}
.header {
	background-color: #26a69a;
	height: 70px;
	border-bottom: 5px solid black;
	color: red;
}
.header a {
	color: white;
}
.nav_menu {
	text-align: center;
	width: 100%;
	padding-left: 0;
	margin-top: 10px;
}
.nav_menu li {
	display: inline;
	list-style-type: none;
	padding: 5px;	
}
.footer {
	background-color: #26a69a;
	height: 70px;
	border-top: 5px solid black;
	text-align: center;
}
.main-title {
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
}
.posts {
	margin: 0 auto;
	width: 384px;
	height: 100%;
	font-family: 'Lato', sans-serif;
}
.index_post {
	text-decoration: none;
}
.index-posts {
	margin-top: 15px;
}
.post_title, .site_author, .post_author, .pagination {
	text-align: center;
}
.disqus {
	margin: 0 auto;
	width: 500px;
}
@media (max-width: 500px) {
	.disqus {
		width: 384px;
	}
}
article {
	margin: 0 10px;
	width: 750px;
	max-width: 750px;
	float: left;
	font-family: 'Lato', sans-serif;
	min-height: 500px;
}
@media (max-width: 750px) {
	article, img {
		width: 500px;
	}
}
@media (max-width: 500px) {
	article, img {
		width: 384px;
	}
}
body {
	background-color: #EEEEEE;
}
p {
	color: black;
	font-family: 'Lato', sans-serif;
}
.post_container {
	display: inline-block;
	width: 100%;
	min-height: 300px;
}
.archive, .author_posts {
	margin-top: 20px;
	width: 384px;
	float: right;
	font-family: 'Lato', sans-serif;
}
.archive-header a, .author_post_header {
	text-decoration: underline;
	color: black;
}
@media (max-width: 1149px) {
	.archive, .author_posts {
		display: none;
	}
	article, img {
		float: none;
		margin: 0 auto;
	}
}
@media (max-width: 473px) {
	.header {
		height: 80px;
	}
	.nav_menu {
		max-width: 400px;
	}
}
.tags_list {
	font-family: 'Lato', sans-serif;
	margin-left: 10px;
}
.tag_post {
	color: #26a69a;
}
.tags_title {
	text-transform: uppercase;
}
.time {
	text-align: center;
}