---
#
---
* {
	margin: 0;
}
html, body {
	height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
	margin-top: -12px;
}
img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}
a {
	text-decoration: none;
	color: #26a69a;
}
a:hover {
	color: black;
}
.page-wrap {
	height: 100%;
	width: 100%;
	min-height: 700px;
	margin: 0 auto;
}
/*.header {
	background-color: #26a69a;
	height: 70px;
	border-bottom: 5px solid black;
	color: red;
}*/
nav {
	background-color: #26a69a !important;
	height: 70px;
	border-bottom: 5px solid black;
	color: red;
	.brand-logo {
		margin-left: 5px;
	}
}
.header a {
	color: white;
	&:hover {
		color: black;
	}
}
.nav_menu {
	text-align: center;
	width: 100%;
	padding-left: 0;
	margin-top: 10px;
}
.nav_menu li {
	display: inline;
	list-style-type: none;
	padding: 5px;	
}
.copy {
	text-align: center;
	a {
		color: #26a69a;
		&:hover {
			color: black;
		}
	}
}
.main-title {
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
}
.posts {
	margin: 0 auto;
	width: 384px;
	height: 100%;
}
.index_post {
	text-decoration: none;
	color: #26a69a;
}
.index-posts {
	margin-top: 15px;
}
.post_title, .site_author, .post_author, .pagination {
	text-align: center;
}
/*.disqus {
	margin: 0 auto;
	width: 500px;
}*/
/*@media (max-width: 500px) {
	.disqus {
		width: 384px;
	}
}*/
article {
	margin: 8px !important;
	min-height: 500px;
}
body {
	background-color: #EEEEEE;
}
p {
	color: black;
	font-family: 'Lato', sans-serif;
	margin-bottom: 1.5em;
}
.post_container {
	display: inline-block;
	width: 100%;
	min-height: 300px;
}
.archive, .author_posts {
	margin: 8px !important;
	float: right;
	font-family: 'Lato', sans-serif;
}
.archive-header a, .author_post_header {
	color: white !important;
}
@media (max-width: 1166px) {
	article, img {
		float: none !important;
		margin: 8px auto !important;
	}
}
@media (max-width: 473px) {
	.header {
		height: 80px;
	}
	.nav_menu {
		max-width: 400px;
	}
}
.social-plugins li {
	display: inline;
	list-style-type: none;
	padding: 10px;
}
.tags_list {
	font-family: 'Lato', sans-serif;
	min-height: 625px;
}
.tag_post {
	color: #26a69a;
}
.tags_title {
	text-transform: uppercase;
}
.time {
	text-align: center;
}
.gravatar {
	border-radius: 100px;
	height: 100px;
	width: 100px;
	display: block;
  	margin: 0 auto;
}