<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<!-- Compiled and minified CSS -->
  		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css"> -->
		<!-- Compiled and minified JavaScript -->
  		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script> -->
          
	</head>
	<body>
		{% include header.html %}
		<div class="page-wrap">
			<div class="post_container">
				<div class="archive">
					<h1 class="archive-header"><a href="/">FULL ARCHIVE</a></h1>
					{% for post in site.posts %}
		     			{{ post.date | date_to_string }}&nbsp;&nbsp;&nbsp;<a class="index_post" href="{{ post.url }}">{{post.title}}</a><br />
		  			{% endfor %}
				</div>
				<article>
				    <header>
				        <h2 class="post_title">{{ page.title }}</h2>
				        <h4 class="time"><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></h4>
				        <span class="author"><i class="icon-user"></i> {% if page.author %}<h3 class="post_author">Posted by:&nbsp;&nbsp;{{page.author}}</h3>{% else %}<h3 class="site_author">Posted by:&nbsp;&nbsp;{{site.author}}</h3>{% endif%}</span>
				    </header><br/>
					<div class="entry">{{ content }}</div><br/>
					<div class="tags">
						<h4 class="tags_title">Tags: {{page.tags | array_to_sentence_string}}</h4>
					</div>
				</article>
				<div class="author_posts">
					<h1 class="author_post_header">RECENT POSTS BY<br/> THIS AUTHOR</h1>
					{% assign posts = site.posts | where: "author", {{page.author}} %}
						{% for post in posts limit:5 %}
	  					{{post.date | date_to_string }}&nbsp;&nbsp;&nbsp;<a class="index_post" href="{{post.url}}">{{ post.title }}</a><br/>
						{% endfor %}
				</div>
			</div>
			<div class="disqus">
				{% include disqus.html %}
			</div>
			<footer>
				{% include footer.html %}
			</footer>
		</div>
	</body>

</html>